---
headline: "Responsive design"
subhead: "Because so far all of our graphics have just been huge, always."
published_date: "October 28, 2019"

---

{{!< default}}

{{> story/chart-01 }}

{{> story/chart-02 }}

<div class="story-body">
    <h2>This is here to take up space</h2>
    <p>Blah blah blah.</p>
    <p>Blah blah blah.</p>
    <p>Blah blah blah.</p>
    <p>Blah blah blah.</p>
    <p>Blah blah blah.</p>
    <p>Blah blah blah.</p>
    <p>Blah blah blah.</p>
    <p>Blah blah blah.</p>
    <p>Blah blah blah.</p>
</div>
