<h3>Chart 5: Hex cartogram</h3>
<p>A <strong>cartogram</strong> is a map that is more like a diagram. A lot of the time it's hexagons! I built <a href="https://github.com/jsoma/hexagon-grids-for-adobe-illustrator" target="_blank">this plugin</a> to help with that.</p>
<div id="chart-5">
</div>

<script src="scripts/05-map.js"></script>