<h3>Chart 2: Styling your map</h3>
<p>Expanding our projections, using <code>path.centroid</code> for labels, and <code>d.properties</code> to access your data.</p>
<div id="chart-2">
</div>

<script src="scripts/02-map.js"></script>
