<h3>Chart 7: Great circles</h3>
<p>Based on <a href="http://andywoodruff.com/blog/beyond-the-sea/">this map of what's across the ocean</a></p>
<div id="chart-7">
</div>

<script src="scripts/07-map.js"></script>
