<h3>Chart 6: Point or grid maps</h3>
<p>Based on <a href="https://pudding.cool/2017/01/shape-of-slavery/">Mapping slavery against incarceration</a></p>
<div id="chart-6">
</div>

<script src="scripts/06-map.js"></script>
