<div class="story-body">
    <h2>This is a simple chart</h2>
    <p>We want it to resize when we make the window larger and smaller</p>

    <div id="chart-01" class="chart"></div>

    <p>It isn't too crazy.</p>
</div>

<script src="scripts/chart-01.js"></script>
